@using Microsoft.AspNet.Identity
@using ZergMoney.Helpers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="mdc-top-app-bar__row">
            <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <span class="mdc-top-app-bar__title">@Html.ActionLink(User.Identity.GetFullName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "mdc-top-app-bar__title" })</span>
                <span class="mdc-top-app-bar__title"><a class="mdc-top-app-bar__title" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>
            </div>
        </div>
    }
}
else
{
    <div class="mdc-top-app-bar__row">
        <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "mdc-top-app-bar__title" })</span>
            <span class="mdc-top-app-bar__title">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "mdc-top-app-bar__title" })</span>
        </div>
    </div>
}
